apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: file-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: ${DOCKER_IMAGE}
        ports:
        - containerPort: 8000
        env:
        - name: CHANNELS_SERVICE_URL
          value: "https://channel-api-134-199-176-197.nip.io"
        - name: MESSAGES_SERVICE_URL
          value: "https://messages-service.kroder.dev"
        - name: MODERATION_SERVICE_URL
          value: "http://moderation-service:8000"
        - name: FILES_SERVICE_URL
          value: "http://134.199.176.197"
        - name: SEARCH_SERVICE_URL
          value: "http://search-service:8000"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /gateway/health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /gateway/health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: file-service
spec:
  type: LoadBalancer
  selector:
    app: gateway
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8000
